.popup {
  margin-left: 21%;
  display: grid;
  position: absolute;
  justify-self: end;
  height: 22%;
  width: 12%;
}
.box {
  display: grid;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
}
.arrow {
  justify-self: end;
  width: 0;
  height: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-top: 20px solid white;
}
.msg {
  color: var(--Grayish-Blue);
}
.value {
  color: black;
  font-size: 30px;
}
